<div class="container total">
    <div class="row ">
        <div class="col-lg-4 col-md-4">
            <div class="div-green div-item">
                <img src="../assets/img/woman.png" alt="cases">
                <p>
                    Total Coronavirus Cases:
                </p>
                <strong>{{confirmed | number: '2.'}}</strong>
            </div>
        </div>
        <div class="col-lg-4  col-md-4">
            <div class="div-blue div-item">
                <img src="../assets/img/coronavirus.png" alt="cases">
                <p>
                    Active Cases:
                </p>
                <strong>{{active | number: '2.'}}</strong>
            </div>
        </div>
        <div class="col-lg-4  col-md-4">
            <div class="div-pink div-item">
                <img src="../assets/img/case-study.png" alt="cases">
                <p>
                    New Cases Today:
                </p>
                <strong>{{activeToday | number: '2.'}}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4  col-md-4">
            <div class=" div-yellow div-item">
                <img src="../assets/img/first-aid-kit.png" alt="cases">
                <p>
                    Total deaths:
                </p>
                <strong>{{deaths | number: '2.'}}</strong>
            </div>
        </div>

        <div class="col-lg-4  col-md-4">
            <div class=" div-gray div-item">
                <img src="../assets/img/percentage.png" alt="cases">
                <p>
                    Fatality Rate:
                </p>
                <strong>{{fatalityRate | number: '2.'}}</strong>
            </div>
        </div>
        <div class="col-lg-4  col-md-4">
            <div class=" div-violet div-item">
                <img src="../assets/img/doctor.png" alt="cases">
                <p>
                    Recovered:
                </p>
                <strong>{{recovered | number: '2.'}}</strong>
            </div>
        </div>
    </div>
</div>