svg{
    min-height: 100vh; 
}

.container-map{
    display: flex;
    width: 100vw;
}

app-map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-svg{
min-width: 100%;
}

.map{
    min-width: 50vw;
    height: 550px;
    margin-top: 3em;
}
.continent{
    width: 200px;
    height: 200px;
    cursor: pointer;
    fill:gray;
    &:hover{
        fill: rgb(130, 175, 218);
    }
    text{
        :hover{
            fill: white !important;
        }
    }
}

.active {
    fill: rgb(130, 175, 218);
}

.unactive{
    fill:gray;
}
.btn-info{
    background-color: rgb(130, 175, 218);
    border: rgb(130, 175, 218) solid 1px;
}


.table{ 
    tr{
        td{
            width: 180px !important;
            &:first-child{
                width: 200px !important;
            }
        }
        th{
            width: 180px !important;
            &:first-child{
                width: 200px !important;
            }
        }
    }
}
th{
    
    > p{
        margin-bottom: 0 ;
    }
} 