.container-map{
    display: flex;
    width: 99%;
    .map{
        margin-top: 3em;
        .main-svg{
            min-width: 100%;
        }
        svg{
            min-height: 400px; 
        }
    }
    .active {
        fill: rgb(206, 89, 132);
    }
    .unactive{
        fill:#a9adb1 ;
    }
}

.continent{
    width: 200px;
    height: 200px;
    cursor: pointer;
    fill:gray;
    &:hover{
        fill: rgb(130, 175, 218);
    }
    text{
        :hover{
            fill: white !important;
        }
    }
}

.map-info{
    .scrollit {
        overflow-y:scroll;
        height:80vh;
        .table{ 
            font-size: 15px;
            .btn-info{
                background-color: rgb(130, 175, 218);
                border: rgb(130, 175, 218) solid 1px;
            }
            tr{
                th, td{
                    min-width: 80px;
                    max-width: 80px;
                    button{
                        padding: 5px 7px;
                        .fa{
                            margin-left: 4px;
                        }
                        display: flex;
                        align-items: center;
                    }
                    &:first-child{
                        min-width: 100px !important;
                        max-width: 100px !important;
                    }
                }
                th{
            
                    > p{
                        margin-bottom: 0 ;
                    }
                } 
            }
            
        }
    }    
}

.select-option{
    margin-bottom: 3em;
    margin-top: 1em;
    text-transform: uppercase;
}

@media(max-width: 1201px){
    .container-map{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       .map{
            margin-top: 0;
            max-width: 700px;
            svg{
                min-height: 400px; 
            }
       }
    }

    .map-info{
        .scrollit {
            height:100vh;
        }    
    }
    
}



@media(max-width: 470px){
    .container-map{
        padding: 0;
     }

    .map-info{
        tr > th{
            .btn{
            font-size: 12px
            }
        }  
    }
    
}
