.container-map{
    display: flex;
    width: 99%;
    .map{
        margin-top: 3em;
        .main-svg{
            min-width: 100%;
        }
        svg{
            min-height: 400px; 
        }
    }
    .active {
        fill: rgb(130, 175, 218);
    }
    .unactive{
        fill:gray;
    }
}

.continent{
    width: 200px;
    height: 200px;
    cursor: pointer;
    fill:gray;
    &:hover{
        fill: rgb(130, 175, 218);
    }
    text{
        :hover{
            fill: white !important;
        }
    }
}

.map-info{
    .scrollit {
        overflow-y:scroll;
        height:80vh;
        .table{ 
            font-size: 15px;
            .btn-info{
                background-color: rgb(130, 175, 218);
                border: rgb(130, 175, 218) solid 1px;
            }
            tr{
                th, td{
                    min-width: 80px;
                    max-width: 80px;
                    &:first-child{
                        min-width: 100px !important;
                        max-width: 100px !important;
                    }
                }
                th{
            
                    > p{
                        margin-bottom: 0 ;
                    }
                } 
            }
            
        }
    }    
}

@media(max-width: 1201px){
    .container-map{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       .map{
            margin-top: 0;
            max-width: 700px;
            svg{
                min-height: 400px; 
            }
       }
    }

    .map-info{
        width: 80vw;
        .scrollit {
            height:100vh;
        }    
    }
    
}
